@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--body-height: 100vh;
	--body-height: 100dvh;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	height: var(--body-height);
}

*::-webkit-scrollbar-thumb{
	@apply bg-neutral-100  rounded-sm
}
*::-webkit-scrollbar{
	@apply w-1.5 h-1.5 bg-neutral-950
}

#tab-clusters .pc:nth-child(even) img{
	@apply rotate-180
}