@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	@font-face {
	  font-family: 'futura-bold';
	  font-display: swap;
	  src: url(/fonts/futura-bold.ttf) format('ttf');
	}
}


@layer base {
	@font-face {
		font-family: 'futura-medium';
		font-display: swap;
		src: url(/fonts/futura-medium.ttf) format('ttf');
	}
}

@layer base {
	@font-face {
		font-family: 'futura-light';
		font-display: swap;
		src: url(/fonts/futura-light.ttf) format('ttf');
	}
}

:root{
	--body-height: 100vh;
	--body-height: 100dvh;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}


body{
	height: var(--body-height);
	color: whitesmoke;
	@apply text-white
}

*::-webkit-scrollbar-thumb{
	@apply bg-neutral-100  rounded-sm
}
*::-webkit-scrollbar{
	@apply w-1.5 h-1.5 bg-neutral-950
}

/* #tab-clusters .pc:nth-child(even) {
	@apply flex-col-reverse
} */

#tab-clusters .pc:not(.disabled):hover{
	@apply backdrop-brightness-90
}

#tab-clusters [data-cluster]:not(.weird) .pc img:nth-child(even) ,
#tab-clusters [data-cluster]:not(.weird) .pc [data-svg="pc"]:nth-child(even){
	@apply rotate-180
}


.pc [data-svg="pc"] *{
	@apply transition-colors duration-200
}


@media (max-width: 1280px){
	#tab-table, #tab-clusters{
		@apply overflow-y-auto
	}
}



a:not(.disabled){
	@apply underline transition-all duration-300 underline-offset-2 decoration-transparent hover:decoration-white/20
}

/* HARDCODED ENTRANCE */

/* #tab-clusters tbody tr:not(:last-child){
	@apply border-b border-white/10
} */

/* [data-cluster="1"] tbody tr:last-child .pc:nth-child(4)::after{
	content: "|Entrance|";
	@apply text-xxs xs:text-xs sm:text-sm font-bold absolute -bottom-5 left-1/2 -translate-x-1/2 text-neutral-300
}

[data-cluster="2"] thead > tr th:nth-child(1)::before{
	content: "|Entrance|";
	position: absolute;
	@apply text-xxs xs:text-xs sm:text-sm font-bold underline -left-0 -top-5 text-neutral-300
} */