@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--body-height: 100vh;
	--body-height: 100dvh;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body{
	height: var(--body-height);
}

*::-webkit-scrollbar-thumb{
	@apply bg-neutral-100  rounded-sm
}
*::-webkit-scrollbar{
	@apply w-1.5 h-1.5 bg-neutral-950
}

/* #tab-clusters .pc:nth-child(even) {
	@apply flex-col-reverse
} */

#tab-clusters .pc:nth-child(even) img{
	@apply rotate-180
}

#tab-clusters td:first-child{
	/* @apply items-start pb-5 */
}

@media (max-width: 1280px){
	#tab-table, #tab-clusters{
		@apply overflow-y-auto
	}
}

a.disabled{
	pointer-events: none;
}
a:not(.disabled){
	@apply underline transition-all duration-300 underline-offset-4 decoration-transparent hover:decoration-white/20
}

/* HARDCODED ENTRANCE */

#tab-clusters fieldset:first-of-type tbody tr:last-child .pc:nth-child(4)::after{
	content: "|Entrance|";
	@apply font-bold -bottom-5 left-1/2 -translate-x-1/2 text-neutral-300
}

#tab-clusters fieldset:last-of-type tbody tr:first-child td:first::before{
	content: "Entrance";
	position: absolute;
	@apply font-bold underline -bottom-5 left-1/2 -translate-x-1/2
}